@keyframes dot1motion 
{
  0%   {left: 0%;  top:15%; }
  39%  {left: 68%; top:15%; opacity: 1;}
  40%  {left: 68%; top:15%; transform: rotate(90deg); opacity: 1;}
  60%  {left: 68%; top: 60%; transform: rotate(90deg); opacity: 1;}
  70%  {left: 68%; top: 60%; transform: rotate(90deg); color: rgb(255, 129, 27); opacity: 1;}
  100% {left: 68%; top: 98%; transform: rotate(90deg); opacity: 1;}
}
@keyframes dot2motion 
{
  0%   {top: 0%;  left: 65%; }
  40%  {top: 62%;  left: 65%; opacity: 1;}
  70%  {top: 62%;  left: 65%; color: rgb(255, 129, 27); opacity: 1;}
  100% {top: 100%;  left: 65%; opacity: 1;}
}
@keyframes removecover
{
  from {height: 100%;}
  to {height: 0%;}
} 


.covercard
{
  width: 100%;
  height: 100%;
  background-image: url("../images/frontcover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: removecover 1s ease-out 5s 1 normal forwards;
  
}

#dot1
{
  position: relative;
  font-size:60px; 
  color: #ffffff; 
  top: 15%;
  opacity: 0;
  animation: dot1motion 4s ease-out 2s 1 normal backwards;
}
#dot2
{
  position: relative;
  font-size:60px; 
  color: #ffffff; 
  opacity: 0;
  top: 0%;
  left: 65%;
  animation: dot2motion 4s ease-out 2s 1 normal backwards;
}


body 
{
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header
{
  height: 20%;
  width: 100%;
  text-align: center;
  
}

.logo
{
  width: auto;
  height: 100%;

}

.ibutton i
{
  font-size: 20px;
  color: white;
}

.ibutton i:hover
{
  font-size: 21px;
  color: #e69a6f;
  border-bottom: 1px ridge white;
  padding-bottom: 14px;
  padding-top: 4px;
  transition: 0.4s;

}


.navBAr
{
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 50px;
  position: sticky;
  top: 0;
  opacity: 0.8;
  z-index: 1;
 
}

.button,.ibutton
{
  float: left;
  margin-right: 1%;
  margin-left: 2%;
  margin-top: 10px;
  margin-bottom: 45;
  text-align: center;
  width: fit-content;
}


.bt
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 110%;
  margin-top: 0;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}

.bt:hover
{
  color: #c98b3a;
  border-bottom: 1px ridge white;
  padding-bottom: 6px;
  padding-top: 5px;
  transition: 0.2s;
  
}

.hero-image 
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.5)), url("../images/cover.jpg");
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.quote-section
{
  width: 100%;
  height: 40%;
  background-color: rgb(8, 8, 8);
  position: relative;
}

.quote-section .hero-text {
  text-align: center;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  position: relative;
}

.quote-section .hero-text h1
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 100%;
  margin-top: 0;
  color: #fdfdfdc0;
  font-weight: 100;
  letter-spacing: 2;
  text-decoration: none;
}

.quote-section .hero-text h2
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  margin-top: 0;
  color: #c98b3a;
  font-weight: 800;
  letter-spacing: 0;
  text-decoration: none;
}

.profile-section
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.466)), url("../images/6.jpg");
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.profile-content
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.photo-frame
{
  height: 150;
  width: 150;
  border: 4px solid #c98b3a;
  border-radius: 50%;
  transition: 1s;
}

.photo-frame:hover
{
  border: 6px solid #c98b3a;
  height: 180;
  width: 180;
}

.profile-section h2
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffffb2;
  font-weight: 100;
  letter-spacing: 2;
  text-decoration: none;
}
